body {
    background-color:whitesmoke;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards {
    background-color: white;
    padding: 0px 0px;
    margin-left: 150px;
    margin-top: 75px;
    border: 1px solid lightblue;
    height: 550px;
    width: 250px;
    box-shadow: 5px 10px lightblue;
    /* float: left; */
}
.candy {
 display: block;
 font-weight: bold;
 border: 1px solid lightblue;
 border-radius: 0;
 width:100%;
 margin-top: auto;
 margin-left: auto;
 text-align: center;
}
.pdesc{
    margin: 0;
    font-size: 15px;
    font-style: italic;
    font-family: sans-serif;
    text-align: left;
}
.ptexta{
    margin:10;
    padding:0;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: Arial;
    text-align: left;
}
.ptext{
    margin:0;
    padding:0;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    font-family: monospace;
    text-indent: 10pt
}
.ptextb{
    margin:0;
    padding:0;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    text-indent: 10pt
}
h3{
    margin:5px;
    padding:20;
}
#out{
    position: absolute;
    top: 50%;
    left: 60%;
    font-size: 50px;
    color:black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
img {
    display:block;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;;
}
.availability {
    background-color: darkgrey;
    color: yellow;
    text-align: left;
}
footer {
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}
